.grid {
    display: grid;
    grid-template-columns: 25% 50%;
        gap: 20px;
    padding: 10px;
}
#tossContainer {
    display: none;
}

.lineText {
    font-size: 11px;
    margin: 5px 0;
}

.lineContainer {
    display: flex;
    align-items: center;
    gap: 10px;
}